// BUTTON STYLING

button {
    border: none;
    background: $accent;
    padding: 8px 25px;
    transition: all .3s;

    &:hover,
    &:focus {
        background: $green-dark;
        color: $white-shade;
        border-radius: 10px;
    }
}