// NAV BAR

.top-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    position: fixed;
    background: $green-dark;
    z-index: 10;
    width: 100%;

        a {
            color: $white-shade;
            padding: 0 25px;
        }
}