// GLOBAL TYPOGRAPHY

p {
    margin-bottom: 25px;
}

p,
button {
    line-height: 3.2rem;
}

button {
    font-family: $heading-text;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.top-nav {
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 29px;
    text-transform: uppercase;

    .selected {
        color: $accent;
    }

    & li:nth-of-type(3) {
        font-family: $heading-text;
        font-size: 3.5rem;

        & a:hover,
        & a:focus {
            border-bottom: none;
        }
    }
}

// HOME PAGE TYPOGRAPHY

.heading-container h1 {
    color: $white-shade;
    font-family: $heading-text;
    font-size: 10rem;
    position: relative;

    &::before {
        content: '';
        background-image: url(../assets/circle-text.png);
        width: 137px;
        height: 170px;
        display: block;
        position: absolute;
        left: -50px;
        top: -25px;
    }
}

.home-main h2,
.home-main h3 {
    font-family: $heading-text;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.home-main h2 {
    font-size: 4.2rem;
    margin-bottom: 25px;
}

.home-main h3 {
    font-size: 3.2rem;
    margin-bottom: 15px;
}

// BLOG & CONTACT PAGE TYPOGRAPHY

.blog-header h1,
.contact-header h1 {
    color: $white-shade;
    font-family: $heading-text;
    font-size: 8rem;
    line-height: 92px;
    letter-spacing: 1px;
    position: absolute;
    bottom: -15px;
    text-transform: uppercase;
}

.blog-main {
    h2,
    h3 {
        font-family: $heading-text;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 3.2rem;
    }

    h3 {
        font-size: 2.4rem;
    }

    .blog-about a {
        color: $green-light;
        font-weight: 700;

        &:hover,
        &:focus {
            border-bottom: 3px solid $accent;
        }
    }

    .blog-recent-posts a {
        color: $black;
        line-height: 3.2rem;

        &:hover,
        &:focus {
            font-weight: 700;
        }
    }
}