// colour variables

$white: #fff;
$white-shade: #F6F6F6;
$black: #1F1F1F;
$accent: #E4A436;
$green-dark: #345231;
$green-light: #709B6B;

// font variables

$heading-text: 'Abril Fatface', sans-serif;
$content-text: 'Montserrat', sans-serif;