// BLOG PAGE STYLES

// HEADER STYLES - BLOG PAGE

.blog-header {
    height: 50vh;
    background: url(../assets/blog-image-1.jpg);
    background-size: cover;
    position: relative;
}

// ASIDE STYLES - BLOG PAGE

.blog-aside {
    div {
        background: $white;
    }
}

// BLOG POST STYLES - BLOG PAGE