// HEADER STYLES - HOME PAGE

.home-header {
    background: $green-dark;
    text-transform: uppercase;

    .heading-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10vh;
    
        .heading-img-container {
            height: 80vh;
            position: relative;
            top: 2vh;
            left: 25px;
            max-width: 50%;
        }
    }
}

// SECTION STYLES - HOME PAGE

section {
    padding: 125px 0;
}

// SECTION WHO-IS-WILLOW STYLES - HOME PAGE

.who-is-willow {
    text-align: center;
}

// SECTION GRID STYLES - HOME PAGE

.grid {
    background: $white;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    
    .grid-one,
    .grid-two,
    .grid-three,
    .grid-four {
        width: 50%;

        .grid-inner-wrapper {
            max-width: calc(1280px / 2);
        }
    }

    .grid-one {
        background: $green-light;
        position: relative;
        top: -30px;

        img {
            position: relative;
            top: -20px;
            right: 20px;
        }
    }

    .grid-one,
    .grid-three {
        display: flex;
        justify-content: flex-end;
    }

    .grid-two div {
        padding-left: 100px;
    }

    .grid-two,
    .grid-three {
        display: flex;
        align-items: center;
    }

    .grid-three {
        text-align: right;
            div {
                padding-right: 100px;
            }
    }

    .grid-four {
        background: $green-dark;
        position: relative;
        bottom: -30px;

        img {
            position: relative;
            top: -20px;
            right: 20px;
        }
    }
}

// SECTION JOURNEY STYLES - HOME PAGE

.journey {
    display: flex;

    &-img-container {
        width: 25%;
        align-self: center;
        
        img {
            box-shadow: 20px 20px 0 0 $green-light;
        }
    }

    &-content-container {
        width: 75%;
        padding-left: 110px;
    }
}

// SECTION STRETCH IMG STYLES - HOME PAGE

.stretch-image {
    padding: 0;
}

// SECTION GALLERY STYLES - HOME PAGE

.gallery {
    background: $white;

    ul {
        display: flex;
        justify-content: space-between;

        li {
            width: calc(100% / 3 - 30px);
        }
    }
}

// SECTION SUMMARY STYLES - HOME PAGE

.summary ul {
    display: flex;
    flex-wrap: wrap;

    li {
        width: 50%;
        display: flex;
        align-items: flex-start;

        i {
            background: $accent;
            padding: 10px;
            border-radius: 50%;
        }

        div {
            padding-left: 25px;
        }

        .b-padding {
            padding-bottom: 50px;
        }
    }
}