article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background: #F6F6F6;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

p {
  margin-bottom: 25px;
}

p,
button {
  line-height: 3.2rem;
}

button {
  font-family: "Abril Fatface", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.top-nav {
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 29px;
  text-transform: uppercase;
}

.top-nav .selected {
  color: #E4A436;
}

.top-nav li:nth-of-type(3) {
  font-family: "Abril Fatface", sans-serif;
  font-size: 3.5rem;
}

.top-nav li:nth-of-type(3) a:hover,
.top-nav li:nth-of-type(3) a:focus {
  border-bottom: none;
}

.heading-container h1 {
  color: #F6F6F6;
  font-family: "Abril Fatface", sans-serif;
  font-size: 10rem;
  position: relative;
}

.heading-container h1::before {
  content: '';
  background-image: url(../assets/circle-text.png);
  width: 137px;
  height: 170px;
  display: block;
  position: absolute;
  left: -50px;
  top: -25px;
}

.home-main h2,
.home-main h3 {
  font-family: "Abril Fatface", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.home-main h2 {
  font-size: 4.2rem;
  margin-bottom: 25px;
}

.home-main h3 {
  font-size: 3.2rem;
  margin-bottom: 15px;
}

.blog-header h1,
.contact-header h1 {
  color: #F6F6F6;
  font-family: "Abril Fatface", sans-serif;
  font-size: 8rem;
  line-height: 92px;
  letter-spacing: 1px;
  position: absolute;
  bottom: -15px;
  text-transform: uppercase;
}

.blog-main h2,
.blog-main h3 {
  font-family: "Abril Fatface", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.blog-main h2 {
  font-size: 3.2rem;
}

.blog-main h3 {
  font-size: 2.4rem;
}

.blog-main .blog-about a {
  color: #709B6B;
  font-weight: 700;
}

.blog-main .blog-about a:hover, .blog-main .blog-about a:focus {
  border-bottom: 3px solid #E4A436;
}

.blog-main .blog-recent-posts a {
  color: #1F1F1F;
  line-height: 3.2rem;
}

.blog-main .blog-recent-posts a:hover, .blog-main .blog-recent-posts a:focus {
  font-weight: 700;
}

button {
  border: none;
  background: #E4A436;
  padding: 8px 25px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

button:hover, button:focus {
  background: #345231;
  color: #F6F6F6;
  border-radius: 10px;
}

nav i {
  font-size: 3.5rem;
  color: #F6F6F6;
  position: fixed;
  top: 25px;
  right: 25px;
  visibility: hidden;
  z-index: 15;
}

#menu-toggle {
  display: none;
}

.mobile-nav {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100vw;
  background: #345231;
  z-index: 10;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.mobile-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.mobile-nav li {
  padding: 10px 0;
}

.mobile-nav a {
  color: #F6F6F6;
  font-size: 3rem;
  text-transform: uppercase;
}

.mobile-nav a:hover, .mobile-nav a:focus {
  color: #E4A436;
}

#menu-toggle:checked ~ .mobile-nav {
  left: 0;
}

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  position: fixed;
  background: #345231;
  z-index: 10;
  width: 100%;
}

.top-nav a {
  color: #F6F6F6;
  padding: 0 25px;
}

.top-nav a:hover, .top-nav a:focus {
  border-bottom: 3px solid #E4A436;
}

.top-nav a.selected:hover, .top-nav a.selected:focus {
  border-bottom: none;
}

.home-header {
  background: #345231;
  text-transform: uppercase;
}

.home-header .heading-container {
  padding-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90vh;
}

.home-header .heading-container .heading-img-container {
  width: 50%;
  position: relative;
  top: 50px;
  padding-left: 30px;
}

section {
  padding: 125px 0;
}

.who-is-willow {
  text-align: center;
}

.grid {
  background: #fff;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid .grid-one,
.grid .grid-two,
.grid .grid-three,
.grid .grid-four {
  width: 50%;
}

.grid .grid-one .grid-inner-wrapper,
.grid .grid-two .grid-inner-wrapper,
.grid .grid-three .grid-inner-wrapper,
.grid .grid-four .grid-inner-wrapper {
  max-width: calc(1280px / 2);
}

.grid .grid-one {
  background: #709B6B;
  position: relative;
  top: -30px;
}

.grid .grid-one img {
  position: relative;
  top: -20px;
  right: 20px;
}

.grid .grid-one,
.grid .grid-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.grid .grid-two div {
  padding-left: 100px;
}

.grid .grid-two,
.grid .grid-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid .grid-three {
  text-align: right;
}

.grid .grid-three div {
  padding-right: 100px;
}

.grid .grid-four {
  background: #345231;
  position: relative;
  bottom: -30px;
}

.grid .grid-four img {
  position: relative;
  top: -20px;
  right: 20px;
}

.journey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.journey-img-container {
  width: 25%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.journey-img-container img {
  -webkit-box-shadow: 20px 20px 0 0 #709B6B;
          box-shadow: 20px 20px 0 0 #709B6B;
}

.journey-content-container {
  width: 75%;
  padding-left: 110px;
}

.stretch-image {
  padding: 0;
}

.gallery {
  background: #fff;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery ul li {
  width: calc(100% / 3 - 30px);
}

.summary ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.summary ul li {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.summary ul li i {
  background: #E4A436;
  padding: 10px;
  border-radius: 50%;
}

.summary ul li div {
  padding-left: 25px;
}

.summary ul li .b-padding {
  padding-bottom: 50px;
}

.blog-header,
.contact-header {
  height: 50vh;
  background-size: cover;
  position: relative;
}

.blog-main,
.contact-main {
  padding: 85px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-main aside,
.contact-main aside {
  width: 30%;
}

.blog-main section,
.contact-main section {
  width: calc(70% - 30px);
  padding: 0;
}

.blog-header {
  background: url(../assets/blog-image-1.jpg);
}

.blog-main div,
.blog-main article {
  background: #fff;
  padding: 30px;
  margin-bottom: 20px;
}

.blog-main article,
.blog-main .comment:last-of-type {
  margin-bottom: 35px;
}

.blog-main p:last-of-type,
.blog-main .comment p {
  margin-bottom: 0;
}

.blog-aside img {
  margin-bottom: 25px;
}

.blog-aside .blog-recent-posts a {
  padding-left: 30px;
}

.blog-aside .blog-recent-posts a::before {
  content: '.';
  position: relative;
  right: 15px;
  top: -5px;
}

article,
.comment:last-of-type {
  border-bottom: 7px solid #709B6B;
}

div.comment-img-container,
div.comment-content-container {
  padding: 0;
  margin-bottom: 0;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comment-img-container {
  width: 90px;
  height: 89px;
}

.comment-content-container {
  width: calc(100% - 90px - 20px);
}

.contact-header {
  background: url(../assets/contact-image-1.jpg);
}

.contact-main {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact-main aside {
  background: #fff;
  padding: 30px;
}

.contact-main p {
  margin-bottom: 0;
}

.contact-main p:first-of-type {
  margin: 25px 0;
  font-weight: 700;
}

.contact-main i {
  font-size: 3.5rem;
}

.contact-main i:not(:last-child) {
  padding-right: 25px;
}

.contact-main a {
  color: #345231;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contact-main a:hover, .contact-main a:focus {
  color: #E4A436;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form input {
  width: calc(50% - 10px);
}

form textarea,
form button {
  width: 100%;
}

form textarea {
  height: 35vh;
}

form input,
form textarea {
  border: none;
  resize: none;
  background: #fff;
  padding: 30px;
  margin-bottom: 20px;
}

form input::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #1F1F1F;
}

form input:-ms-input-placeholder,
form textarea:-ms-input-placeholder {
  opacity: 1;
  color: #1F1F1F;
}

form input::-ms-input-placeholder,
form textarea::-ms-input-placeholder {
  opacity: 1;
  color: #1F1F1F;
}

form input::placeholder,
form textarea::placeholder {
  opacity: 1;
  color: #1F1F1F;
}

footer {
  background: #1F1F1F;
  color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
}

/* Home Header Fix */
@media (max-width: 1050px) {
  .home-header h1 {
    font-size: 8rem;
  }
  .contact-main i:not(:last-child) {
    padding-right: 15px;
  }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  p {
    font-size: 1.6rem;
  }
  .grid .grid-two div {
    padding-left: 50px;
  }
  .grid .grid-three div {
    padding-right: 50px;
  }
  .journey-content-container {
    padding-left: 50px;
  }
  .blog-recent-posts a,
  input,
  textarea {
    font-size: 1.6rem;
  }
  .contact-main i:not(:last-child) {
    padding-right: 5px;
  }
  footer {
    font-size: 1.6rem;
  }
}

/* HOME HEADER FIX */
@media (max-width: 850px) {
  .home-header h1 {
    right: -100px;
    z-index: 5;
  }
  .home-header .heading-container {
    height: 100%;
  }
  .home-header .heading-container .heading-img-container {
    left: -50px;
    top: 0;
  }
  .home-header .heading-container .heading-img-container img {
    border-radius: 50%;
    -o-object-fit: none;
       object-fit: none;
    -webkit-box-shadow: 20px 20px 0 0 #709B6B;
            box-shadow: 20px 20px 0 0 #709B6B;
  }
  section {
    padding: 75px 0;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .top-nav li:nth-of-type(3) {
    display: none;
  }
  .heading-content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50vh;
  }
  .heading-content-container h1 {
    right: -25px;
  }
  .heading-img-container {
    display: none;
  }
  section {
    padding: 50px 0;
  }
  .grid .grid-one,
  .grid .grid-two,
  .grid .grid-three,
  .grid .grid-four {
    width: 100%;
    position: static;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .grid .grid-one .grid-inner-wrapper,
  .grid .grid-two .grid-inner-wrapper,
  .grid .grid-three .grid-inner-wrapper,
  .grid .grid-four .grid-inner-wrapper {
    max-width: 90%;
  }
  .grid .grid-one img,
  .grid .grid-two img,
  .grid .grid-three img,
  .grid .grid-four img {
    position: static;
  }
  .grid .grid-one div,
  .grid .grid-two div,
  .grid .grid-three div,
  .grid .grid-four div {
    padding: 0;
  }
  .grid .grid-three {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .grid .grid-two,
  .grid .grid-three {
    margin: 50px 0;
  }
  .blog-main h2 {
    font-size: 2.5rem;
  }
  .blog-main h3 {
    font-size: 2rem;
  }
  .blog-main section,
  .contact-main section {
    width: 100%;
  }
  .blog-main aside,
  .contact-main aside {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 75%;
    margin: 50px auto 0 auto;
  }
  .contact-main aside {
    text-align: center;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  nav i {
    visibility: visible;
  }
  .top-nav {
    display: none;
  }
  button {
    font-size: 1.6rem;
  }
  .home-header .heading-container h1 {
    font-size: 6rem;
  }
  .home-header .heading-container h1::before {
    top: -40px;
  }
  .home-main h2 {
    font-size: 3.5rem;
  }
  .home-main h3 {
    font-size: 2.5rem;
  }
  .journey {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .journey-img-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .journey-content-container {
    width: 100%;
    padding: 50px 0 0 0;
  }
  .stretch-image {
    display: none;
  }
  .gallery {
    padding: 0;
  }
  .gallery ul li {
    width: calc(100% / 2);
  }
  .gallery ul li:last-child {
    display: none;
  }
  .gallery .wrapper {
    width: 100%;
  }
  .summary ul li {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .summary ul li i {
    padding: 15px;
    font-size: 3rem;
  }
  .summary ul li div {
    padding-left: 25px;
  }
  .summary ul li .b-padding {
    padding-bottom: 0;
  }
  .comment-content-container {
    width: 100%;
  }
  .blog-main,
  .contact-main {
    padding: 35px 0;
  }
  .blog-main aside,
  .contact-main aside {
    width: 100%;
  }
  form input {
    width: 100%;
  }
}

/* contact header fix for iphone */
@media (max-width: 430px) {
  .contact-header h1 {
    font-size: 5.5rem;
    bottom: -25px;
  }
}
